<p>
  <%= @greeting %>, <%= @login.email %> Mahaswami Software Pvt Ltd welcomes you..!
</p> 
<p> You can confirm your account through the link: <a href= "http://172.17.0.3:3000/"> Click me </a> </p> 
