<div class="welcome-page">

  <div id="login-head">
    <h1>  Welcome to Attendance Monitoring System </h1>
    <button class ="form-button" style="center"><%= link_to "Admin Login",login_session_path %></button></br>
    <br>
    <br>
    <button class ="form-button"><%= link_to "Employee Login" %></button>
  </div>

  
</div>